<div class="h-screen">
  <div class="p-6 md:mx-auto">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(200,43,115,1)" class="w-16 h-16 mx-auto my-6">
      <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 10.5858L9.17157 7.75736L7.75736 9.17157L10.5858 12L7.75736 14.8284L9.17157 16.2426L12 13.4142L14.8284 16.2426L16.2426 14.8284L13.4142 12L16.2426 9.17157L14.8284 7.75736L12 10.5858Z"></path>
    </svg>
    <div class="text-center">
      <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">Payment Fail!</h3>
      <p class="text-gray-600 my-2">Please try again later</p>
      <p> Have a great day!</p>
      <div class="py-10 text-center">
          <%= link_to "GO BACK", root_path, class: "px-12 bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-3" %>
      </div>
    </div>
  </div>
</div>
